{% extends 'base.html' %}
<head>

</head>

{% block content %}
<body>
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Brand name
                </th>
            </tr>
        </thead>
        <tbody>
            {% for brand in brand_names %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'products' %}">{{brand.name}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}