{% extends 'base.html' %}
<head>

</head>
{% block content %}
<body>
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Product title
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Model
                </th>
                <th>
                    Price
                </th>
                <th>
                    Color
                </th>
                <th>
                    Memory
                </th>
            </tr>
        </thead>
        <tbody>
            {% for product in product_names %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.color }}</td>
                    <td>{{ product.memory }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}